{% assign categories = site.pages | where_exp: "page", "page.is-category != nil" %}
{% if include.parent == 'home' %}
  {% assign scope = 'home' %}
{% else %}
  {% assign parent = site.pages | where: 'is-category', include.parent | first %}
  {% assign scope = parent.category %}
{% endif %}
{% assign parents = categories | where: 'category', scope %}

<div class="menu">
    <p class="menu-label">
      {% if scope == 'home' %}Site{% else %}{{ scope }}{% endif %}
    </p>
    <ul class="menu-list">
      {% for page in parents %}
	      <li>
          <a href="{{ page.url }}"
            {% if page.is-category == include.current %} class="is-active" {% endif %}>
            {{ page.title }}
          </a>
          {% assign children = categories | where: 'category', page.is-category %}
          <ul>
            {% for child in children %}
              <li><a href="{{ child.url }}"
                {% if child.is-category == include.current %} class="is-active" {% endif %}>
                {{ child.title }}
              </a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
</div>
