<nav
  class="navbar is-primary {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}"
>
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ site.baseurl }}/" class="navbar-item">
        {{ site.title }}
      </a>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        {% unless page.hide_breadcrumbs %}
        <div class="navbar-item is-primary">
          {% include navbar.html category=page.category title=page.title
          icon=page.icon %}
        </div>
        {% endunless %}
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{{ site.github.repository_url }}">
          <span class="icon is-large"><i class="fab fa-2x fa-github"></i></span>
          <span>View on Github</span>
        </a>
        {% if site.gh_sponsor %}
        <a class="navbar-item" href="https://github.com/sponsors/{{ site.gh_sponsor }}">
          <span class="icon gh-sponsor"><i class="fas fa-heart"></i></span>
          <span>Sponsor</span>
        </a>
        {% endif %}
        <div class="navbar-item">
          {% include search.html %}
        </div>
      </div>
    </div>
  </div>
</nav>
