<a class="button is-danger is-rounded" id="search-button">
  {% include icon.html i='fa-search'%}
</a>
<div class="modal" id="modal">
  <div class="modal-background" id="background"></div>
  <div class="modal-content has-background-white">
    <nav class="panel" id="search-panel">
      <div class="panel-block">
        <p class="control has-icons-left">
          <input id= 'search-box' class="input" type="test" placeholder="Search">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
      <div id='insert'></div>
    </nav>
  </div>
  <button class="modal-close is-large" id="close-button" aria-label="close"></button>
</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ '/assets/js/search-store.js' | relative_url }}"></script>
<script>
const index = lunr(function() {
  this.ref('id');
  this.field('title');
  this.field('description');
  this.field('content');

  store.forEach(page => {
    this.add(page)
  }, this);
})

function search() {
  const resultsDiv = document.getElementById('insert');
  const query = document.getElementById('search-box').value;
  const results = index.search(query);
  //Remove old results
  resultsDiv.innerHTML = '';
  //Add new results
  results.forEach(result => {
    const page = store[result.ref]
    resultsDiv.innerHTML += `<a class="panel-block has-background-white" href="${page.url}"><p>${page.title}<span class="has-text-grey"> ${page.description}</span></p></a>`;
  });
}

function showSearch(){
  document.getElementById('modal').classList.add('is-active');
  document.getElementById('search-box').focus();
}

function hideSearch() {
  document.getElementById('modal').classList.remove('is-active');
}

document.addEventListener('DOMContentLoaded', () => {
  document.getElementById('search-box').addEventListener('keyup', search);
  document.getElementById('search-button').addEventListener('click', showSearch);
  document.getElementById('close-button').addEventListener('click', hideSearch);
  document.getElementById('background').addEventListener('click', hideSearch);
});

</script>
